cat /etc/systemd/system/apache-mon.service 
[Unit]
Description=The Apache HTTP Process monitor 
Wants=httpd.service
After=httpd.service

[Service]
Type=notify
Environment=LANG=C
user=root

ExecStart=/apache-monitor.sh 
# Send SIGWINCH for graceful stop
KillSignal=SIGWINCH
KillMode=mixed
PrivateTmp=true
OOMPolicy=continue

[Install]
WantedBy=multi-user.target
